-- Switch naar master
USE master;
GO

-- Als de database bestaat, forceer single-user mode en drop
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'GentProjecten')
BEGIN
    ALTER DATABASE [GentProjecten] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [GentProjecten];
END
GO

-- Maak de database opnieuw aan
CREATE DATABASE [GentProjecten];
GO

USE [GentProjecten];
GO

-- Tabellen aanmaken
IF OBJECT_ID('dbo.Bouwfirma', 'U') IS NOT NULL DROP TABLE dbo.Bouwfirma;
IF OBJECT_ID('dbo.Gebruiker', 'U') IS NOT NULL DROP TABLE dbo.Gebruiker;
IF OBJECT_ID('dbo.Locatie', 'U') IS NOT NULL DROP TABLE dbo.Locatie;
IF OBJECT_ID('dbo.Partner', 'U') IS NOT NULL DROP TABLE dbo.Partner;
IF OBJECT_ID('dbo.Project', 'U') IS NOT NULL DROP TABLE dbo.Project;
IF OBJECT_ID('dbo.GebruikerProject', 'U') IS NOT NULL DROP TABLE dbo.GebruikerProject;
IF OBJECT_ID('dbo.GroeneRuimte', 'U') IS NOT NULL DROP TABLE dbo.GroeneRuimte;
IF OBJECT_ID('dbo.InnovatiefWonen', 'U') IS NOT NULL DROP TABLE dbo.InnovatiefWonen;
IF OBJECT_ID('dbo.Stadsontwikkeling', 'U') IS NOT NULL DROP TABLE dbo.Stadsontwikkeling;
IF OBJECT_ID('dbo.Faciliteit', 'U') IS NOT NULL DROP TABLE dbo.Faciliteit;
IF OBJECT_ID('dbo.ProjectPartner', 'U') IS NOT NULL DROP TABLE dbo.ProjectPartner;
IF OBJECT_ID('dbo.Project_ProjectType', 'U') IS NOT NULL DROP TABLE dbo.Project_ProjectType;
IF OBJECT_ID('dbo.Stadsontwikkeling_Bouwfirma', 'U') IS NOT NULL DROP TABLE dbo.Stadsontwikkeling_Bouwfirma;
GO

-- Bouwfirma
CREATE TABLE [dbo].[Bouwfirma](
    [BouwfirmaId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Naam] NVARCHAR(200) NOT NULL,
    [Email] NVARCHAR(200) NOT NULL,
    [Telefoon] NVARCHAR(50) NOT NULL
);
GO

-- Gebruiker
CREATE TABLE [dbo].[Gebruiker](
    [GebruikerId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Email] NVARCHAR(200) NOT NULL UNIQUE,
    [IsAdmin] BIT NOT NULL,
    [IsPartner] BIT NOT NULL,
    [Naam] NVARCHAR(50) NULL
);
GO

-- Locatie
CREATE TABLE [dbo].[Locatie](
    [LocatieId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Wijk] NVARCHAR(100) NOT NULL,
    [Straat] NVARCHAR(100) NOT NULL,
    [Gemeente] NVARCHAR(100) NOT NULL,
    [Postcode] INT NOT NULL,
    [HuisNummer] NVARCHAR(20) NOT NULL
);
GO

-- Partner
CREATE TABLE [dbo].[Partner](
    [PartnerId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Naam] NVARCHAR(200) NOT NULL,
    [Email] NVARCHAR(200) NOT NULL,
    [LocatieId] INT NOT NULL,
    FOREIGN KEY([LocatieId]) REFERENCES [Locatie]([LocatieId])
);
GO

-- Project
CREATE TABLE [dbo].[Project](
    [ProjectId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Titel] NVARCHAR(200) NOT NULL,
    [Startdatum] DATETIME NOT NULL,
    [Beschrijving] NVARCHAR(MAX) NOT NULL,
    [Status] INT NOT NULL,
    [LocatieId] INT NOT NULL,
    --[ProjectType] NVARCHAR(50) NOT NULL,
    FOREIGN KEY([LocatieId]) REFERENCES [Locatie]([LocatieId])
);
GO

-- GebruikerProject
CREATE TABLE [dbo].[GebruikerProject](
    [GebruikerId] INT NOT NULL,
    [ProjectId] INT NOT NULL,
    PRIMARY KEY([GebruikerId], [ProjectId]),
    FOREIGN KEY([GebruikerId]) REFERENCES [Gebruiker]([GebruikerId]),
    FOREIGN KEY([ProjectId]) REFERENCES [Project]([ProjectId])
);
GO

-- GroeneRuimte
CREATE TABLE [dbo].[GroeneRuimte](
    [ProjectId] INT NOT NULL PRIMARY KEY,
    [Oppervlakte] FLOAT NOT NULL,
    [Biodiversiteit] FLOAT NOT NULL,
    [AantalWandelpaden] INT NOT NULL,
    [InToeristischeWandelroute] BIT NOT NULL,
    [Beoordeling] FLOAT NULL,
    FOREIGN KEY([ProjectId]) REFERENCES [Project]([ProjectId])
);
GO

-- InnovatiefWonen
CREATE TABLE [dbo].[InnovatiefWonen](
    [ProjectId] INT NOT NULL PRIMARY KEY,
    [AantalWooneenheden] INT NOT NULL,
    [WoonvormTypes] NVARCHAR(200) NOT NULL,
    [Rondleiding] BIT NOT NULL,
    [Showwoning] BIT NOT NULL,
    [ArchitectuurInnovatieScore] FLOAT NOT NULL,
    [SamenwerkingErfgoed] BIT NOT NULL,
    [SamenwerkingToerisme] BIT NOT NULL,
    FOREIGN KEY([ProjectId]) REFERENCES [Project]([ProjectId])
);
GO

-- Stadsontwikkeling
CREATE TABLE [dbo].[Stadsontwikkeling](
    [ProjectId] INT NOT NULL PRIMARY KEY,
    [VergunningStatus] INT NOT NULL,
    [ArchitecturieleWaarde] BIT NOT NULL,
    [Toegankelijkheid] INT NOT NULL,
    [Bezienswaardigheid] BIT NOT NULL,
    [Uitlegbord] BIT NOT NULL,
    [Infowandeling] BIT NOT NULL,
    FOREIGN KEY([ProjectId]) REFERENCES [Project]([ProjectId])
);
GO

-- Faciliteit
CREATE TABLE [dbo].[Faciliteit](
    [FaciliteitId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [ProjectId] INT NOT NULL,
    [Naam] NVARCHAR(200) NOT NULL,
    FOREIGN KEY([ProjectId]) REFERENCES [GroeneRuimte]([ProjectId])
);
GO

-- ProjectPartner
CREATE TABLE [dbo].[ProjectPartner](
    [ProjectPartnerId] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [ProjectId] INT NOT NULL,
    [PartnerId] INT NOT NULL,
    [Rol] NVARCHAR(200) NOT NULL,
    FOREIGN KEY([ProjectId]) REFERENCES [Project]([ProjectId]),
    FOREIGN KEY([PartnerId]) REFERENCES [Partner]([PartnerId])
);
GO

-- Project_ProjectType
CREATE TABLE [dbo].[Project_ProjectType](
    [ProjectId] INT NOT NULL PRIMARY KEY,
    [StadsontwikkelingId] INT NULL,
    [GroeneRuimteId] INT NULL,
    [InnovatiefWonenId] INT NULL,
    FOREIGN KEY([ProjectId]) REFERENCES [Project]([ProjectId]),
    FOREIGN KEY([StadsontwikkelingId]) REFERENCES [Stadsontwikkeling]([ProjectId]),
    FOREIGN KEY([GroeneRuimteId]) REFERENCES [GroeneRuimte]([ProjectId]),
    FOREIGN KEY([InnovatiefWonenId]) REFERENCES [InnovatiefWonen]([ProjectId])
);
GO

-- Stadsontwikkeling_Bouwfirma
CREATE TABLE [dbo].[Stadsontwikkeling_Bouwfirma](
    [ProjectId] INT NOT NULL,
    [BouwfirmaId] INT NOT NULL,
    PRIMARY KEY([ProjectId], [BouwfirmaId]),
    FOREIGN KEY([ProjectId]) REFERENCES [Stadsontwikkeling]([ProjectId]),
    FOREIGN KEY([BouwfirmaId]) REFERENCES [Bouwfirma]([BouwfirmaId])
);
GO
